
@mixin button-aspect{
    
    font-size: 30px;
    color: whitesmoke;
    background-color: rgb(240, 10, 10);
    font-family: 'Racing Sans One';
    padding-inline: 9px;
    padding-block: 9px;
    line-height: 133.33%;
    cursor: pointer;
    font-weight: bold;
    
}


