//Fonts
$racing-sans-one:"Racing Sans One";

//Palette couleurs
$dark-black: #0c0e0d;
$white-main: #fff;
$red-main: #ff0000;
$orange-main: #E78C15;
$blue-main:#022db8;
$yellow-main:#f9f902;
$green-main:#06b206;
$purple-main:#5e23c5;


//REM

$fs-14: 0.875rem;
$fs-16: 1rem;
$fs-18: 1.125rem;
$fs-20: 1.25rem;
$fs-22: 1.375rem;
$fs-24: 1.5rem;
$fs-32: 2rem;
$fs-33: 2.0625rem;
$fs-36: 2.25rem;
$fs-40: 2.5rem;
$fs-50: 3.125rem;
$fs-60: 3.75rem;
$fs-80: 5rem;

//Breakpoints
$lg-breakpoint: 1130px