.connexion-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    width: 100%;
    min-width: 100%;
//pour s'assurer qu'il prend toute la hauteur dispo
}

.connexion-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 30px;
    border: 5px rgb(192, 11, 11, 0.89) solid;
    border-radius: 10px;
    box-shadow: 3px 3px 4px rgb(192, 11, 11, 0.89);
    &__connexion{
        font-family: 'Racing Sans One';
        font-size: 40px;
    }
}

.form-connexion{ 
    margin: 10px;
    &__btn-submit{
        font-size: 20px;
        margin-top: 15px;
        padding: 15px;
        border: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
    }
}

.btn-submit:hover{
    background-color: rgb(192, 11, 11, 0.89);
}

.btn-submit:active{
    background-color: rgb(192, 11, 11, 0.89);
    transform: translateY(1px); //effet d'enfoncement
}

.form-connexion label{
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 500;
    color: black;
    font-family: 'Racing Sans One';
    font-size: 20px;
}

.form-connexion input{
    width: 100%;
    padding: 0.375rem;
    border-radius: 5px;
    font-size: 1rem;
}