.error-page{
    display: flex;
    flex-direction: column;
    text-align: center;
    &__img{
        height: 30vw;
    }
   &__text{
    margin-top: 40px;
    font-size: 60px;
    font-family: 'Racing Sans One';
   }
   &__link{
    margin-top: 20px;
    font-size: 30px;
    text-decoration: none;
    background-color: rgba(192, 11, 11, 0.89);
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-radius: 10px;
    color: white;
    list-style-type: none;
    font-family: 'Racing Sans One';
    text-shadow: 3px 3px 4px black;
   }
}