
   .footer-container{
    background-color: black;
    height: 125px;
    position:relative;
    max-width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
   
  
    
    &__title{
        background-color: black;
        color: whitesmoke;
        font-family: 'Racing Sans One';
       

    }
}
