
   .footer-container{
    background-color: black;
    height: 125px;
    position:relative;
    max-width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 4px solid rgb(190, 27, 27);
   
  
    
    &__title{
        background-color: black;
        color: whitesmoke;
        font-family: 'Racing Sans One';
       

    }
}

@media (max-width:770px){
    .footer-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        &__title{
            text-align: center;
        }
    }
}