.l-main-nav {
  position: absolute;
  top: 20px;
  width: 100%;
}
.l-main-nav__container {
  display: flex;
  align-items: center;
}
.l-main-nav__logo {
  font-size: 60px;
  text-shadow: 3px 3px 5px rgb(190, 27, 27);
  font-family: "Racing Sans One";
  color: white;
  text-decoration: none;
  margin-left: 50px;
}
.l-main-nav__toggle-button {
  display: none;
}
.l-main-nav__list {
  flex-shrink: 0;
  list-style-type: none;
  display: flex;
  gap: 50px;
}
.l-main-nav__logo, .l-main-nav__link {
  width: 100%;
  inline-size: 100%;
}
.l-main-nav__link {
  color: white;
  text-decoration: none;
  font-size: 30px;
  font-family: "Racing Sans One";
  margin-right: 70px;
  text-shadow: 3px 4px 4px rgb(190, 27, 27);
}

@media (max-width: 1300px) {
  .l-main-nav__link {
    margin-inline: 8px;
  }
}
@media (max-width: 920px) {
  .l-main-nav {
    top: 0;
    padding-block: 14px;
  }
  .l-main-nav--active {
    background-color: black;
    border-block-end: 1px solid rgba(0, 0, 0, 0.6);
  }
  .l-main-nav--active .l-main-nav__list, .l-main-nav--active .l-main-nav__link {
    display: flex;
  }
  .l-main-nav__container {
    flex-wrap: wrap;
  }
  .l-main-nav__logo {
    inline-size: auto;
    margin-inline-end: auto;
    font-size: 30px;
  }
  .l-main-nav__toggle-button {
    display: inline-block;
    background-color: rgb(190, 27, 27);
    border: none;
    cursor: pointer;
  }
  .l-main-nav__toggle-logo {
    inline-size: 30px;
  }
  .l-main-nav__list {
    flex-direction: column;
    inline-size: 100%;
    margin-block: 20px;
  }
  .l-main-nav__link {
    display: inline-block;
    padding-block: 16px;
    font-size: 20px;
    margin-inline: 0;
  }
}
.footer-container {
  background-color: black;
  height: 125px;
  position: relative;
  max-width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 4px solid rgb(190, 27, 27);
}
.footer-container__title {
  background-color: black;
  color: whitesmoke;
  font-family: "Racing Sans One";
}

@media (max-width: 770px) {
  .footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .footer-container__title {
    text-align: center;
  }
}
.content-container {
  display: flex;
  flex-direction: column;
  padding: 50px 50px;
  flex-grow: 1;
  justify-content: center;
  top: 10px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.section-container {
  margin-bottom: 3vw;
  border: 4px solid black;
  border-radius: 30px;
  box-shadow: 4px 4px 4px 4px rgb(190, 27, 27);
  padding: 3vw 5vw;
  font-family: "Racing Sans One";
  text-align: center;
  line-height: 2;
}
.section-container__welcome {
  font-size: 3rem;
  padding-left: 1vw;
  padding-right: 1vw;
  padding-bottom: 1vw;
}
.section-container__paragraph, .section-container__sub-paragraph {
  font-size: 1.5rem;
}

.container-quizCategories {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: center;
  align-items: stretch;
  max-width: auto;
}

.container-article {
  margin-top: 30px;
  width: 33.3%;
}
.container-article__p {
  margin-right: auto;
  margin-left: auto;
  width: 50%;
  justify-content: center;
  text-align: center;
  font-family: "Racing Sans One";
  font-weight: bold;
  font-size: 40px;
  background-color: background #000000;
  background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(255, 0, 0) 50%, rgb(255, 255, 255) 100%);
  margin-bottom: 20px;
  border-radius: 10px;
  color: whitesmoke;
  text-shadow: 2px 2px 3px black;
}
.container-article__button {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
  list-style: none;
  font-family: "Racing Sans One";
  font-size: 1.1rem;
  border: 2px solid rgb(190, 27, 27);
  box-shadow: 3px 3px 4px rgb(190, 27, 27);
  border-radius: 10px;
}
.container-article__link {
  text-decoration: none;
  color: black;
  text-shadow: 5px 5px 10px rgb(190, 27, 27);
  text-align: center;
  font-size: 30px;
}
.container-article img {
  display: block;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 2px 2px 3px rgb(203, 190, 190);
  height: 350px;
  width: 500px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 10%;
     object-position: 50% 10%;
}

@media (max-width: 900px) {
  .content-container {
    flex-wrap: wrap;
  }
  .container-quizCategories {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .container-article {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  img {
    margin-left: 0;
    margin-right: 0;
    display: block;
    width: 100%;
    height: auto;
  }
}
.u-container {
  min-inline-size: 1100px;
  padding-inline: 20px;
  margin-inline: auto;
  box-sizing: border-box;
}

@media (max-width: 1130px) {
  .u-container {
    max-inline-size: 850px;
  }
}
*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  height: auto;
}

.c-red-link {
  font-size: 30px;
  color: whitesmoke;
  background-color: rgb(190, 27, 27);
  font-family: "Racing Sans One";
  padding-inline: 9px;
  padding-block: 9px;
  line-height: 133.33%;
  cursor: pointer;
  font-weight: bold;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  text-align: center;
  display: inline-block;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: rgb(247, 240, 240);
}

#root {
  max-width: auto;
}

.home-header {
  border-bottom: 4px solid rgb(190, 27, 27);
  background-color: black;
  height: 550px;
  position: relative;
  max-width: auto;
  z-index: 1;
  overflow: hidden;
  padding-block-start: 202px;
}
.home-header__faded-bg {
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  inline-size: 50%;
  block-size: 100%;
  background-color: black;
  box-shadow: 0 0 100px 200px black;
}
.home-header__flag {
  position: absolute;
  z-index: -2;
  right: 0;
  top: 0;
  inline-size: 50%;
  block-size: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.home-header__container {
  display: flex;
  flex-direction: column;
  block-size: 100%;
}
.home-header__title {
  font-size: 40px;
  color: whitesmoke;
  margin-block-end: 24px;
  font-family: "Racing Sans One";
  margin-bottom: 7rem;
}
.home-header__cta {
  min-inline-size: 236px;
  align-self: flex-start;
  margin-block-start: auto;
}/*# sourceMappingURL=index.css.map */